{% extends "base/base.html" %}

{% block title %}
About
{% endblock title %}

{% block content %}
<br>
<div class="row">
    <p style="text-align: justify;">
        The National Football League (NFL) is a professional American football league that consists of 32 teams, divided
        equally between the American Football Conference (AFC) and the National Football Conference (NFC). The NFL is
        one of the major professional sports leagues in the United States and Canada and the highest professional level
        of American football in the world. Each NFL season begins with a three-week preseason in August, followed by
        the 18-week regular season which runs from early September to early January, with each team playing 17 games and
        having one bye week. Following the conclusion of the regular season, seven teams from each conference (four
        division winners and three wild card teams) advance to the playoffs, a single-elimination tournament that
        culminates in the Super Bowl, which is contested in February and is played between the AFC and NFC conference
        champions.
    </p>
</div>
<br>
<div class="row">
    <div class="col d-grid">
      <a href="{% url 'home:index' %}" class="btn btn-secondary">HOME</a>
    </div>
  </div>
<br>
{% endblock content %}