{% extends "base/base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-4 d-grid gap-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Teams</h5>
          <p class="card-text">See the information about of the teams in active</p>
          <a href="{% url 'teams:team_list' %}" class="btn btn-primary d-grid">Go to Teams</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-grid gap-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Stadiums</h5>
          <p class="card-text">See the information about of the stadiums for each team</p>
          <a href="{% url 'stadiums:stadium_list' %}" class="btn btn-primary d-grid">Go to Stadiums</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-grid gap-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cities</h5>
            <p class="card-text">See the information for each city relationed with the NFL</p>
            <a href="{% url 'cities:city_list' %}" class="btn btn-primary d-grid">Go to cities</a>
          </div>
        </div>
      </div>
</div>
<br>
{% endblock content %}