{% extends "base/base.html" %}

{% block title %}
Teams
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col-8 d-grid">
    <a href="{% url 'teams:team_add' %}" class="btn btn-success ">ADD TEAM</a>
  </div>
  <div class="col-4 d-grid">
    <a href="{% url 'home:index' %}" class="btn btn-secondary">HOME</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-hover table-secondary">
      <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>FOUNDED</th>
        <th>CONFERENCE</th>
        <th>CITY</th>
        <th>STADIUM</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
      </thead>
      <tbody>
        {% for tm in teams %}
          <tr>
            <td>{{ tm.id }}</td>
            <td>{{ tm.team_name }}</td>
            <td>{{ tm.team_founded }}</td>
            <td>{{ tm.team_conference }}</td>
            <td>{{ tm.team_city }}</td>
            <td>
              {% for stadium in tm.team_stadium.all %}
                    {{ stadium.stadium_name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td><a href="{% url 'teams:team_detail' tm.id %}" class="btn btn-info">Details</a></td>
            <td><a href="{% url 'teams:team_update' tm.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'teams:team_delete' tm.id %}" class="btn btn-primary">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock content %}