{% extends "base/base.html" %}

{% block title %}
Cities
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col-8 d-grid">
    <a href="{% url 'cities:city_add' %}" class="btn btn-success ">ADD CITY</a>
  </div>
  <div class="col-4 d-grid">
    <a href="{% url 'home:index' %}" class="btn btn-secondary">HOME</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-hover table-secondary">
      <thead>
        <th>ID</th>
        <th>NAME</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
      </thead>
      <tbody>
        {% for city in cities %}
          <tr>
            <td>{{ city.id }}</td>
            <td>{{ city.city_name }}</td>
            <td><a href="{% url 'cities:city_detail' city.id %}" class="btn btn-info">Details</a></td>
            <td><a href="{% url 'cities:city_update' city.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'cities:city_delete' city.id %}" class="btn btn-primary">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock content %}