{% extends "base/base.html" %}
{% load static %}

{% block title %}
Details City
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col">
    <a href="{% url 'cities:city_list' %}" class="btn btn-success d-grid">BACK TO CITIES</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card bg-dark text-white">
        <img src="{% static 'img/cities/city.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{ object.city_name }}</h5>
        </div>
      </div>
  </div>
</div>
<br>
{% endblock content %}