{% extends "base/base.html" %}

{% block title %}
City Cities
{% endblock title %}

{% block content %}
<br>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Add City</button>
        <a href="{% url 'cities:city_list' %}" class="btn btn-primary">Cancel</a>
    </form>
<br>
{% endblock content %}
