{% extends "base/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Details Stadium
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col">
    <a href="{% url 'stadiums:stadium_list' %}" class="btn btn-success d-grid">BACK TO STADIUMS</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card bg-dark text-white">
        <img src="{% static 'img/cities/city.jpg' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{ object.stadium_name }} | {{ object.stadium_capacity|intcomma }}</h5>
          <p class="card-text">{{ object.stadium_city }}</p>
          <p class="card-text"></p>
        </div>
      </div>
  </div>
</div>
<br>
{% endblock content %}