{% extends "base/base.html" %}

{% block title %}
Stadiums
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col-8 d-grid">
    <a href="{% url 'stadiums:stadium_add' %}" class="btn btn-success ">ADD STADIUM</a>
  </div>
  <div class="col-4 d-grid">
    <a href="{% url 'home:index' %}" class="btn btn-secondary">HOME</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-hover table-secondary">
      <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CAPACITY</th>
        <th>CITY</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
      </thead>
      <tbody>
        {% for st in stadium %}
          <tr>
            <td>{{ st.id }}</td>
            <td>{{ st.stadium_name }}</td>
            <td>{{ st.stadium_capacity }}</td>
            <td>{{ st.stadium_city }}</td>
            <td><a href="{% url 'stadiums:stadium_detail' st.id %}" class="btn btn-info">Details</a></td>
            <td><a href="{% url 'stadiums:stadium_update' st.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'stadiums:stadium_delete' st.id %}" class="btn btn-primary">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock content %}